### Cargamos los CSVs en Dataframes

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime

clase_1 = pd.read_csv('data/clase_1.csv', sep=';')
clase_2 = pd.read_csv('data/clase_2.csv', sep=';')
clase_3 = pd.read_csv('data/clase_3.csv', sep=';')
clase_4 = pd.read_csv('data/clase_4.csv', sep=';')
claustro = pd.read_csv('data/claustro.csv', sep=';')

In [2]:
clase_1.head(5)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto

In [3]:
clase_2.head(5)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto

In [4]:
clase_3.head(5)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto

In [5]:
clase_4.head(5)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto

In [6]:
claustro.head(5)

              Nombre Rol Vertical   Promocion    Campus   Modalidad
0          Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1  Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2         Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3      Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4   Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial

### Creamos las sentencias de inserción SQL para nuestro modelo entidad-relacion

In [ ]:
## Lista que contiene todas las sentencias de creación de registros:
sentencias_sql = []

# Proyectos
sentencias_sql.append(
        f"INSERT INTO Proyecto (Nombre) VALUES ('HLF'), ('EDA'), ('BBDD'), ('ML'), ('Deployment'), ('WebDev'), ('FrontEnd'), ('BackEnd'), ('React'), ('FullStack');"
    );


# Verticales
verticales = claustro.Vertical.unique()

for nombre_vertical in verticales:
    sentencias_sql.append(
        f"INSERT INTO Vertical (Nombre) VALUES ('{nombre_vertical}');"
    );


# Modalidades
modalidades = claustro.Modalidad.unique()

for nombre_modalidad in modalidades:
    sentencias_sql.append(
        f"INSERT INTO Modalidad (Nombre) VALUES ('{nombre_modalidad}');"
    );


# Promociones
promociones_clase_1 = clase_1.Promoción.unique()
promociones_clase_2 = clase_2.Promoción.unique()
promociones_clase_3 = clase_3.Promoción.unique()
promociones_clase_4 = clase_4.Promoción.unique()
promociones_claustro = claustro.Promocion.unique()

promociones_unicas_global = np.unique(
    np.concatenate(
        [
            promociones_clase_1, 
            promociones_clase_2, 
            promociones_clase_3, 
            promociones_clase_4, 
            promociones_claustro]))

for nombre_promocion in promociones_unicas_global:
    sentencias_sql.append(
        f"INSERT INTO Promocion (Nombre) VALUES ('{nombre_promocion}');"
    );


# Campus
campus_clase_1 = clase_1.Campus.unique()
campus_clase_2 = clase_2.Campus.unique()
campus_clase_3 = clase_3.Campus.unique()
campus_clase_4 = clase_4.Campus.unique()
campus_claustro = claustro.Campus.unique()

claustros_unicos_global = np.unique(
    np.concatenate(
        [
            campus_clase_1, 
            campus_clase_2, 
            campus_clase_3, 
            campus_clase_4, 
            campus_claustro]))

for nombre_campus in claustros_unicos_global:
    sentencias_sql.append(
        f"INSERT INTO Campus (Nombre) VALUES ('{nombre_campus}');"
    );

# Roles
roles = claustro.Rol.unique()

for nombre_rol in roles:
    sentencias_sql.append(
        f"INSERT INTO Rol (Nombre) VALUES ('{nombre_rol}');"
    );


# Alumnos
date_format = '%d/%m/%Y'

for alumno in clase_1.itertuples():

    datetime_obj = datetime.strptime(alumno.Fecha_comienzo, date_format)
    fecha_comienzo = datetime_obj.strftime('%Y-%m-%d')

    sentencias_sql.append(
        f"INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('{alumno.Nombre}', '{alumno.Email}', '{fecha_comienzo}', (SELECT Id_Promocion FROM Promocion WHERE Nombre = '{alumno.Promoción}'), (SELECT Id_Campus FROM Campus WHERE Nombre = '{alumno.Campus}'));"
    );

for alumno in clase_2.itertuples():
    datetime_obj = datetime.strptime(alumno.Fecha_comienzo, date_format)
    fecha_comienzo = datetime_obj.strftime('%Y-%m-%d')

    sentencias_sql.append(
        f"INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('{alumno.Nombre}', '{alumno.Email}', '{fecha_comienzo}', (SELECT Id_Promocion FROM Promocion WHERE Nombre = '{alumno.Promoción}'), (SELECT Id_Campus FROM Campus WHERE Nombre = '{alumno.Campus}'));"
    );

for alumno in clase_3.itertuples():
    datetime_obj = datetime.strptime(alumno.Fecha_comienzo, date_format)
    fecha_comienzo = datetime_obj.strftime('%Y-%m-%d')

    sentencias_sql.append(
        f"INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('{alumno.Nombre}', '{alumno.Email}', '{fecha_comienzo}', (SELECT Id_Promocion FROM Promocion WHERE Nombre = '{alumno.Promoción}'), (SELECT Id_Campus FROM Campus WHERE Nombre = '{alumno.Campus}'));"
    );

for alumno in clase_4.itertuples():
    datetime_obj = datetime.strptime(alumno.Fecha_comienzo, date_format)
    fecha_comienzo = datetime_obj.strftime('%Y-%m-%d')

    sentencias_sql.append(
        f"INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('{alumno.Nombre}', '{alumno.Email}', '{fecha_comienzo}', (SELECT Id_Promocion FROM Promocion WHERE Nombre = '{alumno.Promoción}'), (SELECT Id_Campus FROM Campus WHERE Nombre = '{alumno.Campus}'));"
    );

# Profesores
for profesor in claustro.itertuples():

    sentencias_sql.append(
        f"INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('{profesor.Nombre}', (SELECT Id_Promocion FROM Promocion WHERE Nombre='{profesor.Promocion}'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='{profesor.Vertical}'), (SELECT Id_Campus FROM Campus WHERE Nombre = '{profesor.Campus}'), (SELECT Id_Rol FROM Rol WHERE Nombre = '{profesor.Rol}'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = '{profesor.Modalidad}'));"
    );

# Relacion Proyecto_Alumno

for alumno in clase_1.itertuples():
    sentencias_sql.extend([
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='HLF'), '{alumno.Proyecto_HLF}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='EDA'), '{alumno.Proyecto_EDA}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='BBDD'), '{alumno.Proyecto_BBDD}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='ML'), '{alumno.Proyecto_ML}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='Deployment'), '{alumno.Proyecto_Deployment}');",
    ]);

for alumno in clase_2.itertuples():
    sentencias_sql.extend([
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='HLF'), '{alumno.Proyecto_HLF}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='EDA'), '{alumno.Proyecto_EDA}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='BBDD'), '{alumno.Proyecto_BBDD}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='ML'), '{alumno.Proyecto_ML}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='Deployment'), '{alumno.Proyecto_Deployment}');",
    ]);

for alumno in clase_3.itertuples():
    sentencias_sql.extend([
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='WebDev'), '{alumno.Proyecto_WebDev}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='FrontEnd'), '{alumno.Proyecto_FrontEnd}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='BackEnd'), '{alumno.Proyecto_Backend}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='React'), '{alumno.Proyecto_React}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='FullStack'), '{alumno.Proyecto_FullSatck}');",
    ]);

for alumno in clase_4.itertuples():
    sentencias_sql.extend([
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='WebDev'), '{alumno.Proyecto_WebDev}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='FrontEnd'), '{alumno.Proyecto_FrontEnd}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='BackEnd'), '{alumno.Proyecto_Backend}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='React'), '{alumno.Proyecto_React}');",
        f"INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='{alumno.Email}'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='FullStack'), '{alumno.Proyecto_FullSatck}');",
    ]);

## Imprimir todas las sentencias
print(*sentencias_sql, sep='\n')

INSERT INTO Proyecto (Nombre) VALUES ('HLF'), ('EDA'), ('BBDD'), ('ML'), ('Deployment'), ('WebDev'), ('FrontEnd'), ('BackEnd'), ('React'), ('FullStack');
INSERT INTO Vertical (Nombre) VALUES ('DS');
INSERT INTO Vertical (Nombre) VALUES ('FS');
INSERT INTO Modalidad (Nombre) VALUES ('Presencial');
INSERT INTO Modalidad (Nombre) VALUES ('Online');
INSERT INTO Promocion (Nombre) VALUES ('Febrero');
INSERT INTO Promocion (Nombre) VALUES ('Septiembre');
INSERT INTO Campus (Nombre) VALUES ('Madrid');
INSERT INTO Campus (Nombre) VALUES ('Valencia');
INSERT INTO Rol (Nombre) VALUES ('TA');
INSERT INTO Rol (Nombre) VALUES ('LI');
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Jafet Casals', 'Jafet_Casals@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Jorge Manzanares', 'Jorge_Manzanares@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Onofre Adadia', 'Onofre_Adadia@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Merche Prada', 'Merche_Prada@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Pilar Abella', 'Pilar_Abella@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Leoncio Tena', 'Leoncio_Tena@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Odalys Torrijos', 'Odalys_Torrijos@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Eduardo Caparrós', 'Eduardo_Caparrós@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Ignacio Goicoechea', 'Ignacio_Goicoechea@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Clementina Santos', 'Clementina_Santos@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Daniela Falcó', 'Daniela_Falcó@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Abraham Vélez', 'Abraham_Vélez@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Maximiliano Menéndez', 'Maximiliano_Menéndez@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Anita Heredia', 'Anita_Heredia@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Eli Casas', 'Eli_Casas@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Guillermo Borrego', 'Guillermo_Borrego@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Sergio Aguirre', 'Sergio_Aguirre@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Carlito Carrión', 'Carlito_Carrión@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Haydée Figueroa', 'Haydée_Figueroa@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Chita Mancebo', 'Chita_Mancebo@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Joaquina Asensio', 'Joaquina_Asensio@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Cristian Sarabia', 'Cristian_Sarabia@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Isabel Ibáñez', 'Isabel_Ibáñez@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Desiderio Jordá', 'Desiderio_Jordá@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Rosalina Llanos', 'Rosalina_Llanos@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Amor Larrañaga', 'Amor_Larrañaga@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Teodoro Alberola', 'Teodoro_Alberola@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Cleto Plana', 'Cleto_Plana@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Aitana Sebastián', 'Aitana_Sebastián@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Dolores Valbuena', 'Dolores_Valbuena@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Julie Ferrer', 'Julie_Ferrer@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Mireia Cabañas', 'Mireia_Cabañas@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Flavia Amador', 'Flavia_Amador@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Albino Macias', 'Albino_Macias@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Ester Sánchez', 'Ester_Sánchez@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Luis Miguel Galvez', 'Luis_Miguel_Galvez@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Loida Arellano', 'Loida_Arellano@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Heraclio Duque', 'Heraclio_Duque@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Herberto Figueras', 'Herberto_Figueras@gmail.com', '2023-09-18', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Septiembre'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Teresa Laguna', 'Teresa_Laguna@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Estrella Murillo', 'Estrella_Murillo@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Ernesto Uriarte', 'Ernesto_Uriarte@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Daniela Guitart', 'Daniela_Guitart@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Timoteo Trillo', 'Timoteo_Trillo@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Ricarda Tovar', 'Ricarda_Tovar@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Alejandra Vilaplana', 'Alejandra_Vilaplana@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Daniel Rosselló', 'Daniel_Rosselló@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Rita Olivares', 'Rita_Olivares@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Cleto Montes', 'Cleto_Montes@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Marino Castilla', 'Marino_Castilla@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Estefanía Valcárcel', 'Estefanía_Valcárcel@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Alumno (Nombre, Email, Fecha_Comienzo, Id_Promocion, Id_Campus) VALUES ('Noemí Vilanova', 'Noemí_Vilanova@gmail.com', '2024-02-12', (SELECT Id_Promocion FROM Promocion WHERE Nombre = 'Febrero'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Noa Yáñez', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='DS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Saturnina Benitez', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='DS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Anna Feliu', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Rosalva Ayuso', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Ana Sofía Ferrer', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Febrero'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Angélica Corral', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Febrero'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Ariel Lledó', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='DS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'TA'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Presencial'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Mario Prats', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Febrero'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Valencia'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'LI'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Online'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('Luis Ángel Suárez', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='FS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'LI'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Online'));
INSERT INTO Profesor (Nombre, Id_Promocion, Id_Vertical, Id_Campus, Id_Rol, Id_Modalidad) VALUES ('María Dolores Diaz', (SELECT Id_Promocion FROM Promocion WHERE Nombre='Septiembre'), (SELECT Id_Vertical FROM Vertical WHERE Nombre='DS'), (SELECT Id_Campus FROM Campus WHERE Nombre = 'Madrid'), (SELECT Id_Rol FROM Rol WHERE Nombre = 'LI'), (SELECT Id_Modalidad FROM Modalidad WHERE Nombre = 'Online'));
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jafet_Casals@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='HLF'), 'Apto');
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jafet_Casals@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='EDA'), 'No Apto');
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jafet_Casals@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='BBDD'), 'Apto');
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jafet_Casals@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='ML'), 'Apto');
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jafet_Casals@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='Deployment'), 'Apto');
INSERT INTO Proyecto_Alumno (Id_Alumno, Id_Proyecto, Calificacion) VALUES ((SELECT Id_Alumno FROM Alumno WHERE Email='Jorge_Manzanares@gmail.com'), (SELECT Id_Proyecto FROM Proyecto WHERE Nombre='HLF'), 'Apto');

### Ahora metemos todas estas inserciones en Render

In [8]:
import psycopg2
# import pandas as pd

hosting = "dpg-d4fj1bmuk2gs73fd3k00-a.frankfurt-postgres.render.com"
puerto = "5432"
nombre_db = "proyecto_grupal"
usuario = "proyecto_grupal_user"
pswd = "3n7T9ikkWzPaUwd3grF1rkm01Ev8hkwL"

conn = psycopg2.connect(
        host = hosting,
        port = puerto,
        dbname = nombre_db,
        user = usuario,
        password = pswd
)

cursor = conn.cursor()